<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/style/pagePrincipal.css">
    <title>Precision Parts Ltda</title>
    
</head>
<body>
    <aside id="menu_lateral">
        <h3>MENU PRINCIPAL</h3>
        <nav>
            <li><img src="/src/assets/images/DASH.png" alt="">Dashboard</li>
            <li><img src="/src/assets/images/NOVO.png" alt="">Cadastrar Relatório</li>
            <li><img src="/src/assets/images/RELATO.png" alt="">Relatórios</li>
            <li><img src="/src/assets/images/CONFIG.png" alt="">Configurações</li>
        </nav>
    </aside>
    
    <header>
        <div class="logo-menu">
            <img src="/src/assets/images/CLOSE-MENU.png" alt="Fechar Menu">
        </div>

        <div class="LOGO-TT">
            <div class="logo">
                <img src="../assets/images/novalogo.png" alt="Logo">
            </div>
            <div class="TT">
                <h2>Precision Parts Ltda</h2>
                <p>Quality System</p>
            </div>
        </div>
    </header>
    
    <main>

        <section id="primeiraParte">
            <h1>Dashboard de Relatório</h1>
            <span>Veja as estatísticas das inspeções</span>

           <div class="cards">
                <div class="card card1">
                    <h3>Total de Inspeções</h3>
                    <span>128</span>
                    <p>Quantidade total de relatórios registrados</p>
                </div>

                <div class="card card2">
                    <h3>Inspeções Aprovadas</h3>
                    <span>115</span>
                    <p>Relatórios com status "Aprovado"</p>
                </div>

                <div class="card card3">
                    <h3>Inspeções Reprovadas</h3>
                    <span>13</span>
                    <p>Relatórios com não-conformidades detectadas</p>
                </div>

                <div class="card card4">
                    <h3>Taxa de Conformidade</h3>
                    <span>89,8%</span>
                    <p>Percentual de inspeções aprovadas</p>
                </div>
            </div>
        </section>

        <!----------------- ESSA É A API ------------------>
        <section id="listaProdutos">
            <div class="pesquisa">
                <h2>Lista de Relatórios</h2>

                <div class="controles">
                    <input type="text" placeholder="Buscar...">
                    <img src="/src/assets/images/filtro.png" alt="Filtro">
                    <button id="addProduto">+ Novo Relatório</button>
                </div>
            </div>


            <!-- como vai ficar a api -->
            <div id="relatoriosApi">
                <div class="cabecalho-relatorios">
                    <h3>Relatórios de Inspeção</h3>
                    <span>Exemplo dos dados retornados pela API</span>
                </div>

                <table class="tabelaRelatorios">
                    <thead>
                        <tr>
                            <th>Dash</th>
                            <th>Inspetor</th>
                            <th>Status</th>
                            <th>Não-Conformidades</th>
                            <th>Data</th>
                            <th>Ações</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td><img src="/src/assets/images/RELATO.png" alt=""></td>
                            <td>Maria Oliveira</td>
                            <td><span class="status aprovado">Aprovado</span></td>
                            <td>—</td>
                            <td>12/11/2025</td>
                            <td class="acoes">
                                <button id="editar">✏️</button>
                                <button  id="excluir">🗑️</button>
                            </td>
                        </tr>

                        <tr>
                            <td><img src="/src/assets/images/RELATO.png" alt=""></td>
                            <td>João Pereira</td>
                            <td><span class="status reprovado">Reprovado</span></td>
                            <td>Falha na dimensão</td>
                            <td>12/11/2025</td>
                            <td class="acoes">
                                <button  id="editar">✏️</button>
                                <button  id="excluir">🗑️</button>
                            </td>
                        </tr>

                        <tr>
                            <td><img src="/src/assets/images/RELATO.png" alt=""></td>
                            <td>Ana Santos</td>
                            <td><span class="status aprovado">Aprovado</span></td>
                            <td>—</td>
                            <td>13/11/2025</td>
                            <td>
                                <button  id="editar">✏️</button>
                                <button  id="excluir">🗑️</button>
                            </td>
                        </tr>

                        <tr>
                            <td><img src="/src/assets/images/RELATO.png" alt=""></td>
                            <td>Paulo Lima</td>
                            <td><span class="status reprovado">Reprovado</span></td>
                            <td>Risco na superfície</td>
                            <td>13/11/2025</td>
                            <td class="acoes">
                                <button  id="editar">✏️</button>
                                <button  id="excluir">🗑️</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </main>
</body>
</html>