<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/style/pagePrincipal.css">
    <title>LogisCore</title>
</head>
<body>
    <aside id="menu_lateral">
        <h3>Menu Principal</h3>
        <nav>
            <li><img src="/src/assets/images/DASH.png" alt="">Dashboard</li>
            <li><img src="/src/assets/images/NOVO.png" alt="">Cadastrar Produto</li>
            <li><img src="/src/assets/images/RELATO.png" alt="">Relatorios</li>
            <li><img src="/src/assets/images/CONFIG.png" alt="">Configuracōes</li>
        </nav>
    </aside>
    
    <header>
        <div>
            <img src="/src/assets/images/CLOSE-MENU.png" alt="Fechar Menu">
        </div>
        <div class="LOGO-TT">
            <div class="logo">
                <img src="/src/assets/images/ChatGPT Image 6 de nov. de 2025, 20_31_39.png" alt="Logo">
            </div>
            <div class="TT">
                <h2>LogisCore</h2>
                <p>Inventory System</p>
            </div>
        </div>
    </header>
    
</body>
</html>